*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-color: #ffe9c7;
}

.main{
	background-color: #FFF5EE;
	display: flex;
	width:65%;
	max-width: 1345px;
	margin: auto;
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
	flex-wrap: wrap;
}
.item{
	height: 650px;
	width: 350px;
	
	background-color: #DEB887;
	margin: 5px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.heading{
	font-size: 40px;
	text-align: center;
	width: 100%;
	padding: 30px 0;
}

h1{
	font-size: 50px;
	text-align: center;
	width: 100%;
	padding: 35px;
	font-family:  Simphonia-Deco;
}

.img_link:hover{
	opacity: 0.8;
	transform: scale(1.05);
	z-index: 40;
	box-shadow: 0 0 200px 30px rgba(0, 0, 0, 0.5);
	
}
.img_link{
	transition: 0.9s ease;
	opacity: 0.7;
}

@font-face{
	font-family: Simphonia-Deco;
	src: url(../fonts/Simphonia-Deco.ttf);
}
body{
	font-family: Simphonia-Deco;

}